*{
    font-family: Arial, Helvetica, sans-serif;
}

/* p {
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

div {
    height: 200px;
    color: black;
}

a {
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#habilidades {
    font-weight: bold;
    color: aquamarine;
}