*{
    font-family: Arial, Helvetica, sans-serif;
}

/* p {
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

div {
    height: 200px;
    color: black;
}

a {
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* #"termo" localiza o "ID" no HTML e aplica a formação desejada */
#habilidades {
    font-weight: bold;
    color: blue;
}
/* ."termo" localiza a "class" no HTML e aplica a formação desejada */
.negrito {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* p + a {}  seletor irmão adjacente*/
/* p ~ a {}  seletor irmão "todos após ele"*/
/* p > a {}  seletor onde todos os filhos recebem a alteração*/
/* p   a {}  seletor descendente (tem um espaço entre o paragrafo e o "a"*/

/* Inicio aula Box Model */
h2 {
    margin: 5px;
    padding: 10px;
    border: 1px solid #000;
    display: inline-block;
}
